<ion-view title="{{entity.id? '账单详情' : '结账' }}">

  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="close()">关闭交易</button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">
    <div class="list card">
      <a class="item item-avatar" href="#/tab/members/select">
        <img src="img/avatar.png">
        <span class="item-note">
          会员号 {{deal.buyer.code}}
        </span>
        <h2>
          <span class="positive">{{deal.buyer.name || '走入顾客' }}</span> 
        </h2>
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">账单</div>
      <a class="item">
        现金支付
        <span class="item-note positive">
          {{deal.bill.cashSettlement * dealItem.quantity /100 | currency: '¥'}}
        </span>
      </a>
      <div class="item item-divider">
        总计：{{deal.quantity}}件
        <span class="item-note positive">
          {{deal.fee/100 | currency : '¥'}}
        </span>
      </div>
    </div>

    <a ng-click="tryMakeDeal()" class="button button-full button-assertive"  ng-class=" {'disabled': deal.quantity === 0}">
      结账
    </a>    

  </ion-content>
</ion-view>