<ion-view title="{{entity.id? '交易详情' : '记账' }}">

  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="close()">关闭交易</button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">
    <div class="list card">
      <a class="item item-avatar" href="#/tab/members/select">
        <img src="img/avatar.png">
        <span class="item-note" ng-show="!!deal.buyer">
          会员号 {{deal.buyer.code}}
        </span>
        <h2>
          <span class="positive">{{deal.buyer.name || '走入顾客' }}</span> 
        </h2>
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">购物清单</div>
      <a class="item" ng-repeat="dealItem in deal.items">
        <h2>{{dealItem.item.name}}</h2>
        <small>{{dealItem.dealPrice/100 | currency : '¥'}} X {{dealItem.quantity}}</small>
        <span class="item-note positive">
          小计 {{dealItem.dealPrice * dealItem.quantity /100 | currency: '¥'}}
        </span>
      </a>
      <div class="item item-divider">
        总计：{{deal.quantity}}件
        <span class="item-note positive">
          {{deal.fee/100 | currency : '¥'}}
        </span>
      </div>
    </div>

    <a ng-click="goSettlement()" class="button button-full button-assertive"  ng-class=" {'disabled': deal.fee === 0}">
      去结账
    </a>    

  </ion-content>
</ion-view>