<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-positive" ng-click="closeModal()">关闭</button>
    <h1 class="title">{{entity.id? '编辑': '新增'}}商品</h1>
    <button class="button button-clear button-positive" ng-click="trySave()" ng-class="{'disabled':!entity.name}">完成</button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">商品名称</span>
        <input type="text" placeholder="例如：iPhone6S" ng-model="entity.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">商品编号</span>
        <input type="text" placeholder="例如：1000231" ng-model="entity.code" ui-event="{ blur : 'blurCb($event)' }">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">零售价</span>
        <input type="text" placeholder="例如：5600" ng-model="entity.price">
      </label>
    </div>
  </ion-content>
</ion-modal-view>  