<ion-view title="{{entity.name}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="openModal()">记账</button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/avatar.png">
        <h2>{{entity.name}}</h2>
        <p>
          等级 {{entity.level}}
        </p>
      </div>

      <a class="item item-icon-right" ng-click="operatePrepayPopup()">
        储值余额
        <span class="positive padding">
          {{entity.account.balance/100 | currency: '￥'}}
        </span>
        <i class="icon ion-ios7-plus-outline positive"></i>
      </a>

      <a class="item item-icon-right" ng-click="calculatePointPopup()">
        当前积分
        <span class="positive padding">
          {{entity.postPoint}}
        </span>
        <i class="icon ion-ios7-calculator-outline positive"></i>
      </a>
      
      <a class="item" href="#/tab/members/{{entity.id}}/points">
        累计积分
        <span class="positive padding">
          {{entity.postTotalPoint}}
        </span>
        <span class="item-note positive">
          详情
        </span>
      </a>

    </div>
    
    <div class="list card">
      <div class="item item-divider">
        联系方式
      </div>
      <a class="item item-button-right">
        手机
        <span class="positive padding">
          {{entity.phone}}
        </span>
        <button class="button button-clear button-positive">
          <i class="icon ion-ios7-telephone-outline"></i>          
        </button>
      </a>
    </div>
    
  </ion-content>
</ion-view>


<script id="member-point-popup.html" type="text/ng-template">
    <label class="item item-input">
      <input type="text" ng-model="data.point">
    </label>
    <ion-radio ng-model="data.reason" ng-value="'手动累积'">手动累积</ion-radio>
    <ion-radio ng-model="data.reason" ng-value="'手动兑换积分'">手动兑换积分</ion-radio>
</script>

<script id="member-prepay-popup.html" type="text/ng-template">
    <label class="item item-input">
      <input type="text" ng-model="prepayData.amount">
    </label>
    <ion-radio ng-model="prepayData.dealType" ng-value="'prepay'">充值</ion-radio>
    <ion-radio ng-model="prepayData.dealType" ng-value="'withdraw'">提现</ion-radio>
    <ion-radio ng-model="prepayData.dealType" ng-value="'writedown'">冲减</ion-radio>
</script>