<ion-view title="会员" ng-init="init()">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-empty" ng-click="addNew()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
  
    <ion-refresher pulling-text="下拉刷新..." on-refresh="fetch()"></ion-refresher>
    
    <ion-list>
      <div ng-repeat="entity in entities">
        {{entity.name}}
        <!-- <div class="item item-divider">{{entity}}</div>
        <ion-item class="item-icon-left item-icon-right" ng-repeat="row in sections[entity]" type="item-text-wrap" href="#/tab/task/{{row.id}}">
          <i class="icon ion-flask"></i>
          <b>
            {{row.project.name}} {{row.created | date: "HH:mm"}}
          </b>
          <span class="item-note positive">
            {{row.status}}
          </span>
          <i class="icon ion-ios7-arrow-right"></i>
        </ion-item> -->
      </div>
    </ion-list>
    
  </ion-content>
</ion-view>
