<ion-view title="我的账号">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/avatar.png">
        <h2>{{currentEmploye.name}} {{currentEmploye.role | roleDictionary}}</h2>
        <p>
          工号 {{currentEmploye.jobNumber}}
        </p>
      </div>

      <a class="item item-icon-right">
        身份证 
        <span class="item-note positive">
          {{currentEmploye.idcard}}
        </span>
        <span class="item-note positive">
          修改
        </span>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
      <div class="item">
        入职时间
        <span class="item-note positive">
          {{currentEmploye.createdAt | dateFormat: "YYYY-MM-DD" }}
        </span>
      </div>

    </div>
    
    <div class="list card">
      <div class="item item-divider">
        联系方式
      </div>
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-ios7-telephone"></i>
        {{currentEmploye.phone}}
        <span class="item-note positive">
          修改
        </span>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </div>
    
    <div class="card">
      <a ng-click="logout()" class="button button-full button-assertive">
        退出
      </a>
    </div>

  </ion-content>

</ion-view>
