<ion-view title="流水记录" ng-init="init()">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-empty" ng-click="openModal()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
  
    <ion-refresher pulling-text="下拉刷新..." on-refresh="fetch()"></ion-refresher>
    
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="搜索" ng-model="search.text">
    </label>
    
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" ng-repeat="entity in entities" type="item-text-wrap" href="#/tab/bills/?bill={{entity}}">
        <i class="icon" ng-class="entity.dealType === 'prepay'?'ion-ios7-plus positive': 'ion-ios7-minus balanced'"></i>
        <h2>{{entity.dealType | dealTypeDictionary}} : {{entity.amount/100 | currency: '￥' }}</h2>
        <small class="">
          {{entity.createdAt | dateFormat: 'YYYY/MM/DD HH:mm'}}
        </small>
        <span class="item-note positive">
          {{entity.memberSettlement | billOwner}}
        </span>
        <i class="icon ion-ios7-information-outline positive"></i>
      </ion-item>
      
    </ion-list>
    
  </ion-content>
</ion-view>
