<ion-view title="所有会员">
  <ion-nav-buttons side="right" ng-if="!showOnly">
    <button class="button button-icon icon ion-ios7-plus-empty" ng-click="openModal()"></button>
  </ion-nav-buttons>

  <ion-content>
  
    <ion-refresher pulling-text="下拉刷新..." on-refresh="fetch()"></ion-refresher>
    
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="搜索" ng-model="search.text">
    </label>
    
    <ion-list>
      <ion-item class="" ng-repeat="entity in entities" ng-click="selectEntity(entity)">
        <b>{{entity.name}}</b>
        <span class="item-note positive">
          {{entity.phone}}
        </span>
      </ion-item>
      
    </ion-list>
    
    <ion-infinite-scroll
		 ng-if="moreDataCanBeLoaded()"
		 icon="ion-loading-c"
		 on-infinite="loadMore()" distance="1%">
	 	</ion-infinite-scroll>
  </ion-content>
</ion-view>