<ion-view title="我的账号">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/avatar.png">
        <span class="item-note">
          工号 {{currentEmploye.jobNumber}}
        </span>
        <h2>
          <span class="positive">{{currentEmploye.name}}</span> 
        </h2>
        <small class="">
          {{currentEmploye.shop.name}} {{currentEmploye.role | roleDictionary}}
        </small>
        <span class="item-note">
          {{currentEmploye.merchant.name}} 
        </span>
      </div>

      <div class="item item-button-right">
        身份证 
        <span class="item-note positive">
          {{currentEmploye.idcard}}
        </span>
        <button class="button button-clear button-positive">
          修改
        </button>
      </div>
      <div class="item item-divider text-center">
        入职于 {{currentEmploye.createdAt | dateFormat: "YYYY-MM-DD" }}
      </div>

    </div>
    
    <div class="list card">
      <div class="item item-divider">
        联系方式
      </div>
      <div class="item item-icon-left item-button-right">
        <i class="icon ion-ios7-telephone-outline"></i>
        {{currentEmploye.phone}}
        <button class="button button-clear button-positive">
          修改
        </button>
      </div>
    </div>
    
    <div class="list card">
      <div class="item item-divider">
        设置
      </div>
      <div class="item item-icon-left item-button-right" ng-click="changePassword()">
        <i class="icon ion-ios7-locked-outline"></i>修改密码
      </div>
    </div>

    <hr />
    <a ng-click="logout()" class="button button-full button-assertive">
      退出
    </a>    

  </ion-content>

</ion-view>


<script id="change-password-popup.html" type="text/ng-template">
  <label class="item item-input">
    <input type="text" ng-model="inputData.password">
  </label>
  <label class="item item-input">
    <input type="text" ng-model="inputData.password2">
  </label>
	
  <div class="col-xs-12" data-ng-show="!!alert">
    <alert type="danger">{{alert}}</alert>
  </div>
</script>