<ion-view title="所有会员" ng-init="init()">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-empty" ng-click="addNew()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
  
    <ion-refresher pulling-text="下拉刷新..." on-refresh="fetch()"></ion-refresher>
    
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="搜索">
    </label>
    
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" ng-repeat="entity in entities" type="item-text-wrap" href="#/tab/task/{{row.id}}">
        <i class="icon ion-flask"></i>
        <b>
          {{entity.name}} 
        </b>
        {{entity.createdAt | dateFormat: "YYYY-MM-DD" }}
        <span class="item-note positive">
          {{entity.phone}}
        </span>
        <i class="icon ion-ios7-arrow-right"></i>
      </ion-item>
      
    </ion-list>
    
  </ion-content>
</ion-view>
