<ion-view title="流水记录" ng-init="init()">
  <ion-content>
  
    <ion-refresher pulling-text="下拉刷新..." on-refresh="fetch()"></ion-refresher>
    
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="搜索" ng-model="search.text">
    </label>
    
    <div class="list">
      
      <div class="item item-icon-left" ng-repeat="entity in entities" ng-click="showDetail(entity)">
        <i class="icon" ng-class="entity.dealType === 'prepay'?'ion-ios7-plus-outline assertive': 'ion-ios7-minus-outline balanced'"></i>
        <span class="item-note positive">
          {{entity.memberSettlement | billOwner}}
        </span>
        <h2>
          {{entity.dealType | dealTypeDictionary}}<span class="positive padding">{{entity.amount/100 | currency: '￥' }}</span>
        </h2>
        <span class="">
          折扣<span class="balanced padding">{{entity.discountAmount/100 | currency: '￥'}}</span>
        </span>
        <span class="item-note positive">
          {{entity.createdAt | dateFormat: 'YYYY/MM/DD HH:mm'}}
        </span>
      </div>
      
    </div>
    
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
