<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.extensivepro.memberhome" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ef-crm-app</name>
  <description>
      泛商汇手机进销存应用
    </description>
  <author email="gbo@extensivepro.com" href="http://fankahui.com">
      泛盈科技
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>